#play-by-play {
  overflow: scroll;
  height: 330px;
}

#play-by-play div {
  padding: 10px;
  text-align: left;
}

#play-by-play div:nth-child(odd) {
  background-color: #f2f2f2;
}

#play-by-play div.game-event {
  background-color: #ffffe0;
}

#play-by-play div:nth-child(odd).run-scoring {
  background-color: #ffdddd;
  font-weight: bold;
}

#play-by-play div:nth-child(even).run-scoring {
  background-color: #ffbbbb;
  font-weight: bold;
}

#game-view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

table.stats-table td {
  font-family: sans-serif;
  text-align: center;
  padding: 3px;
}
table.stats-table tr td:first-of-type {
  text-align: left;
}
table.stats-table thead td, table.stats-table tfoot td {
  font-weight: bold;
  background-color: #ddd;
}
table.stats-table thead td {
  cursor: pointer;
}
table.stats-table tbody tr:nth-child(even) td {
  background-color: #eee;
}
table.stats-table tbody tr:hover td {
  background-color: #ff0;
}

.balls-in-play {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  /* break at 768px */
  flex-wrap: wrap;
}
.balls-in-play .position {
  width: 448px;
  margin: 0 10px 10px 0;
}
.balls-in-play .position h3 {
  text-align: center;
}

svg {
  height: auto;
  width: 447.94775;
}